.clients {
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list-item-link {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #fff;
  &:hover {
    border: 1px solid $accent-color;
  }
  &:focus {
    border: 1px solid $accent-color;
  }
  &:hover .clients-list-item-link-svg {
    fill: $accent-color;
  }
  &:focus .clients-list-item-link-svg {
    fill: $accent-color;
  }
}

.clients-list-item-link-svg {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}
